.app.dark {
  --bg-color: #03032b;
  --bg-color-inverted: #eeeefd;
  --primary-color: rgb(7 153 7);
  --secondary-color: rgb(27 223 27);
  --inverted-primary-color: rgb(0 48 180);
  --inverted-secondary-color: rgb(9 95 255);
}
