.light {
  --bg-color: #eeeefd;
  --bg-color-inverted: #03032b;
  --primary-color: rgb(12 89 233);
  --secondary-color: rgb(0 48 180);
  --inverted-primary-color: rgb(27 223 27);
  --inverted-secondary-color: rgb(7 153 7);
}
